.form-group{
    width: 70%;
    margin: auto;
    margin-top: 122px;
    margin-left: 330px;
}
.add-restro{

    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    width: 50%;
    height:50px;
    border-radius:5px;
    font-size: 22px;
    margin-bottom:10px;
}
.add-restro:hover{

    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
}
.add-food{

    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    width: 50%;
    height:50px;
    border-radius:5px;
    font-size: 22px;
    margin-bottom:10px;
}
.add-food:hover{

    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
}