#app-layout{
    margin:0;
}
.navbar-default{
    background: #f7423f;
    padding-top: 1px;
    padding-bottom: 29px;
}
.navbar-default .navbar-header{
    float:left;
}
.navbar-default .navbar-header img{
   padding-right: 764px;
    padding-left: 95px;
}
.navbar-default .navbar-right{
    list-style: none;

    display: inline;
}
.navbar-default .navbar-right li{
    float:left;
    padding-top: 14px;
    float: left;
    padding-right: 10px;
}
.navbar-default .navbar-right li a{
    text-decoration: none;
    color: white;
}

.container .page-back{
    background: url(../img/frontend/homepage-splash.jpg) no-repeat;
    color: white;
    text-align: center;
    height: 491px;
    background-size: cover;
    width: 100%;
    
}
.container .page-back .text{
 padding-top: 121px;
    margin: 0;
    color: #f54942;
    font-size: 51px;
    font-weight: 100;
    padding-left: 146px;
}
.container .page-back .para-text{
    font-size: 30px;
    margin-top: 0;
    color: black;
    font-weight: 100;
    padding-left: 166px;
    padding-top: 15px;
}
.container .popular-restro .popular-head h2{
    text-align: center;
   padding-top: 65px;
}
.container .popular-restro .popular-images{
   text-align: center;
}
.container .popular-restro .popular-images .thumb{
    width: 12%;
    height: 116px;
    margin-right: 12px;
}